.idea/
log/
tmp/
test/system/output/
*.swp
*.orig
scss-*.css
vendor/ruby
.bundle
bin/
build-number.txt
eylogs/
spec/results/
system_test/output/
db/*.sqlite3
.sass-cache/
.DS_Store
public/assets
.jhw-cache/
rspec.xml
/vendor/geoip/
.project
.tm_properties
startExferoGodless
cack
rack
public/carrierwave/
spec/support/uploads